h1{
    color: aqua;
    height: max-content;
}
 
h2{
    color: aqua;
    height: 20px;
}
h3{
    color: aqua;
    height: 20px;
}
a {
    color:red  ;
}
h4{
    color: aqua;
    height: 20px;
}
h5{
    color: aqua;
    height: 20 px;
}