a{
    color: rgb(1, 15, 139);
    text-decoration: none;
    padding: 1em;
    align-items: center;
    float: left;
}
#Login{
    float: right;
}
a:hover{
    background-color: rgb(139, 139, 139);
}